.card-container {
  display: flex;
  flex-direction: column;
  background-color: #95dada;
  border: 1px solid grey;
  border-radius: 15px;
  cursor: pointer;
  -moz-osx-font-smoothing: grayscale;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: transform 0.25s ease-out;
  justify-content: center;
  color: white;
  align-items: center;
  width: 15em;
}

.card-container img {
  width: 100px;
  height: 100px;
}

.card-container:hover {
  transform: scale(1.05);
}

.pokemon-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.pokemon-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5em;
  /* position: absolute;
  top: 2.5rem;
  left: 2.5rem; */
  color: white;
  font-family: "Mont-Serrat";
  height: 100%;
}

.pokemon-data img {
  width: 150px;
  height: 150px;
  margin-bottom: 2em;
}

.pokemon-stats {
  display: flex;
  flex-direction: column;
  width: 200px;
  color: #ffffff;
}

.pokemon-stats ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
  list-style: none;
  padding: 0;
}

.pokemon-stats li {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

