.card-container {
  display: flex;
  flex-direction: column;
  background-color: #95dada;
  border: 1px solid grey;
  border-radius: 15px;
  cursor: pointer;
  -moz-osx-font-smoothing: grayscale;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: transform 0.25s ease-out;
  justify-content: center;
  color: white;
  align-items: center;
  width: 25vw;
  
  @media only screen and (max-width:900px) and (min-width:500px) {
    width: 40vw;
  }

  @media only screen and (max-width:499px) {
    width: 80vw;
  }
}

.card-container img {
  width: 100px;
  height: 100px;
}

.card-container:hover {
  transform: scale(1.05);
}

.pokemon-modal-container {
  @media only screen and (max-width:900px) and (min-width:600px) {
      width: 80vw;
    }
  
    @media only screen and (max-width:599px) {
      width: 70vw;
      flex-wrap: nowrap;

      img {
        width: 20vw;
        height: 20vw;
      }
    }
}
.pokemon-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;

  @media only screen and (max-width:900px) and (min-width:600px) {
    width: 80vw;
  }

  @media only screen and (max-width:599px) {
    width: 70vw;
    // flex-wrap: nowrap;

    img {
      width: 25vw !important;
      height: 25vw !important;
    }

    ul {
      gap: 0.3rem !important
    }
  }
}

.pokemon-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5em;
  /* position: absolute;
  top: 2.5rem;
  left: 2.5rem; */
  color: white;
  font-family: "Mont-Serrat";
  height: 100%;

  img {
    width: 150px;
    height: 150px;
  }

  @media only screen and (max-width:599px) {
    margin-bottom: 20px;

    img {
      width: 150px !important;
      height: 150px !important;
    }
  }
}

.pokemon-stats {
  display: flex;
  flex-direction: column;
  width: 300px;
  color: #ffffff;
  height: auto;

  @media only screen and (max-width: 599px) {
    font-size: 80%;

    p {
      display: none;
    }

    img {
      width: 80px;
      height: 80px;
    }
  }
}

.pokemon-stats ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.8rem;
  list-style: none;
  padding: 0;
}

.pokemon-stats li {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

