.header-container {
    width: 100%;
}

header {
    display: flex;
    justify-content: flex-end;

    button {
        cursor: pointer;
        position: absolute;
        z-index: 9;
        background: none;
        border-radius: 50%;
        border-color: #ffffff;
        padding: 10px;
        font-size: 20px;
        color: #ffffff;
    }
}