.main-evolution-container {
    display:flex;
    flex-direction: row;
    align-items: center;
    margin-top: 30px;
    justify-content: space-around;
    font-family: 'Mont-Serrat';
    font-weight: 400;
    color: #ffffff;
}

.evolve-data {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    
    img {       
        width: 45px;
        height: 45px; 
    }

    p {
        margin: 0;
    }
}

.pokemon-data-dt {
    max-width: 150px;
    img {
        width: 150px;
        height: 150px;
    }
    p {
        margin: 0;
    }
    h4 {
        margin: 0;
    }
}
